* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
    font-family: "Iwona";
    src: url("./IwonaMedium-Regular.ttf");
}

.hamburger-menu {
  height: 0;
}

#menu__toggle {
    display: none;
}

  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }

  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }

  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }

  #menu__toggle:checked ~ .menu__box {
    left: 0 !important;
  }

  .menu__btn {
    position: fixed;
    top: 50px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
  }

  .menu__btn > span::before {
    content: '';
    top: -8px;
  }

  .menu__btn > span::after {
    content: '';
    top: 8px;
  }

  .menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #ded8ce9c;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
  }

  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Iwona', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }

body {
  margin: 0;
  font-family: Iwona, sans-serif;
}

.parallax-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-attachment: fixed;

  background-image: url(https://vsegda-pomnim.com/uploads/posts/2022-04/1651044559_1-vsegda-pomnim-com-p-bezhevoe-more-foto-4.jpg);
  background-position: center;
  background-size: cover;
  color: rgb(85, 83, 83);
  row-gap: 4rem;

  text-align: center;
}

.buffer1 {
  width: 100%;
  min-height: 35vh;
  background-color: rgb(38, 37, 37);
}

.parallax-container2 {
  flex-direction: row;
  flex-wrap: wrap;

  padding: 6rem 0;
  background-image: url(https://priroda.club/uploads/posts/2022-12/1670448321_priroda-club-p-bezhevoe-more-krasivo-foto-33.jpg);
  gap: 1.6em;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
  color: rgb(38, 37, 37);
}

p {
  max-width: 52ch;
  padding: 1em;
  line-height: 1.5;
  color: rgb(38, 37, 37);
}

.buffer1 p{
  color:#CFD8DC;
  max-width: 52ch;
  padding: 3em;
  line-height: 1.5;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  text-align: center;
  font-style: italic;
}

b {
    max-width: 52ch;
    font-size: 1.5rem;
    color: rgb(38, 37, 37);
}
.card a {
  display: inline-block;
  /*padding: 1em 3.5em;*/
  border-radius: 0.3em;
  color: rgb(38, 37, 37);
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-decoration: none;
  text-transform: uppercase;
}

.card a:hover{
  color: #ddca85;
}
h3 {
  margin-top: 1em;
  font-size: 1.6rem;
  font-weight: 700;
}

.card {
  display: flex;
  max-width: 320px;
  flex-direction: column;
  align-items: center;

  padding-bottom: 1rem;
  border-radius: 0.5em;

  background-color: white;
  box-shadow: 0 29px 38px -15px rgb(0 0 0 / 43%);
}

.card-img {
  width: 100%;
  height: 200px;
  border-radius: 0.3em;
  background-position: center;
  background-size: cover;
}

.card:nth-of-type(1) .card-img {
  background-image: url(https://pro-dachnikov.com/uploads/posts/2021-10/1633568218_42-p-fotostudiya-domgrafa-pyatigorsk-foto-44.jpg);
}

.card:nth-of-type(2) .card-img {
  background-image: url(https://avatars.mds.yandex.net/get-altay/216588/2a0000015b17da23fa2b741bef4bf2cc449e/XXL);
}

.card:nth-of-type(3) .card-img {
  background-image: url(https://sanada.club/uploads/posts/2021-03/1615557416_51-p-studii-dlya-fotosessii-v-moskve-51.jpg);
}

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
ul{
	list-style: none;
}


.footer{
	background-color: #24262b;
    padding: 20px 0;
}
.footer .row {
	display: flex;
	flex-wrap: wrap;
  justify-content: center;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 25px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 25px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-col .social-links a{
	display: block;
	background-color: rgba(255,255,255,0.2);
	color: #ffffff;
	transition: all 0.5s ease;
  font-size: 30px;
  width: 57.6px;
  padding: 8px;
  border-radius: 100%;
  text-align: center;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}



