div.gallery {
  border: 3px solid #000000;
  }
  
  div.gallery:hover {
  border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
  
  div.desc {
  padding: 15px;
  text-align: center;
  }
  
  * {
  box-sizing: border-box;
  /*margin: 0;*/
  padding: 0;
}
  
  .clearfix:after {
  content: "";
  display: table;
  clear: both;
  }

  @font-face {
    font-family: "Iwona";
    src: url("./IwonaMedium-Regular.ttf");
}

#menu__toggle {
    display: none;
}

.hamburger-menu {
  height: 0;
}
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }

  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }

  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }

  #menu__toggle:checked ~ .menu__box {
    left: 0 !important;
  }

  .menu__btn {
    position: fixed;
    top: 50px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000000;
    transition-duration: .25s;
  }

  .menu__btn > span::before {
    content: '';
    top: -8px;
  }

  .menu__btn > span::after {
    content: '';
    top: 8px;
  }

  .menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #ded8ce9c;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
  }

  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #000000;
    font-family: 'Iwona', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }

  *{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }

  body {
    margin: 0;
    font-family: Iwona, sans-serif;
  }
  .cnopka {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 16vh;
  }
  
  .cnopka a {
    font-size: 1.5rem;
    padding: 1rem 3rem;
    color: #000000;
    text-transform: uppercase;
  }
  
  .btn {
    text-decoration: none;
    border: 2.5px solid rgb(0, 0, 0);
    position: relative;
    overflow: hidden;
  }
  
  .btn:hover {
    box-shadow: 1px 1px 25px 10px rgba(248, 224, 146, 0.4);
  }
  
  .btn:before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
    120deg,
    transparent,
    rgba(193, 180, 93, 0.4),
    transparent
  );
  transition: all 1150ms;
  }
  
  .btn:hover:before {
    left: 100%;
  }
  .footer-col a {
    display: inline-block;
    /*padding: 1em 3.5em;*/
    border-radius: 0.3em;
    color: rgb(38, 37, 37);
    font-size: 0.875rem;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-decoration: none;
    text-transform: uppercase;
  }  

  .container{
    max-width: 1170px;
    margin:auto;
  }

  ul{
    list-style: none;
  }
  .footer{
    background-color: #24262b;
      padding: 20px 0;
  }
  .footer .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer-col{
     width: 25%;
     padding: 0 15px;
  }
  .footer-col h4{
    font-size: 25px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }
  .footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  .footer-col ul li:not(:last-child){
    margin-bottom: 10px;
  }
  .footer-col ul li a{
    font-size: 25px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
  }
  .footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
  }
  .footer-col .social-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .footer-col .social-links a{
    display: block;
    background-color: rgba(255,255,255,0.2);
    color: #ffffff;
    transition: all 0.5s ease;
    font-size: 30px;
    width: 57.6px;
    padding: 8px;
    border-radius: 100%;
    text-align: center;
  }
  .footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
  }
  
  /*responsive*/
  @media(max-width: 767px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }
  }
  @media(max-width: 574px){
    .footer-col{
      width: 100%;
  }
  }
  

  summary::-webkit-details-marker{display:none;}
  summary::-moz-list-bullet{list-style-type:none;}
  summary::marker{display:none;} 
  summary {
     display:inline-block;
     padding: .3em 1.5em .3em .6em;
     font-size:1.4em;
     cursor: pointer;
     position: relative;
  }
  summary:before {
    right: .3em;
    top: .6em;
    color: transparent;
    background: url("data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjM0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIzNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNOC41OSAxNi4zNGw0LjU4LTQuNTktNC41OC00LjU5TDEwIDUuNzVsNiA2LTYgNnoiLz48L3N2Zz4=") no-repeat 50% 50% / 1em 1em;
    width: 1em;
    height: 1em;  
    content: "";
    position: absolute;
    transition: transform .5s;
  }
  details[open] > summary:before {
    transform: rotateZ(90deg);
  }
  summary ~ * {
     padding:0 1em 0 1em;
  }
  details[open] summary ~ *{ 
    animation: sweep .5s ease-in-out;
  }
  @keyframes sweep {
    0%    {opacity: 0;}
    100%  {opacity: 1;}
  }
  summary:focus {
    outline:0;
    box-shadow: inset 0 0 1px rgba(0,0,0,0.3), inset 0 0 2px rgba(0,0,0,0.3);
  }
  details{
    display:block;
    margin-bottom: .5rem;
    font-family: Iwona;
  }
  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 100px;
  }
  
  
  @media only screen and (max-width: 900px) {
    .gallery-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media only screen and (max-width: 600px) {
    .gallery-grid {
      grid-template-columns: repeat(1, 1fr);
    }
  }